venv 
.venv 
env 
.env 
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea
.vscode
*.egg-info
dist
build
*.egg
*.tar.gz
*.whl

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
